<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{id}}</title>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/diary-container.js" defer></script>
    <script src="js/script.js" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body>
    <div id = 'entryFlex'>
      <h1 id = 'date'>DATE </h1>
      <h2 id = 'prompt'>PROMPT </h2>
      <textarea class = "pink" id = "text-box">Your entry here! </textarea>
      <div id = 'navFlex'>
        <img id = "prev" src = "https://web.stanford.edu/class/cs193x/final-project/diary-assets/back.png">
        <p id= "start">HOME</p>
      <img id = "next" src = "https://web.stanford.edu/class/cs193x/final-project/diary-assets/forward.png">
      </div>
  </div>


  </body>
</html>
